@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300,300italic,400,400italic,600,700,700italic,600italic);
/* line 3, ../scss/custom.scss */
body {
  background-color: #fff !important;
  font-family: 'Titillium Web', sans-serif !important;
}

/* line 8, ../scss/custom.scss */
.bold {
  font-weight: 600;
}

/* line 12, ../scss/custom.scss */
.clearfix {
  clear: both;
}

/***************************
****************************
HEADER
****************************
***************************/
/* line 22, ../scss/custom.scss */
.header {
  position: relative;
}
/* line 25, ../scss/custom.scss */
.header .header-wrapper {
  position: relative;
  height: 215px;
  background-color: #9d062b !important;
  background: url("../images/carto-header.png") no-repeat;
  background-position: center center;
}
/* line 32, ../scss/custom.scss */
.header .header-wrapper #inner-header {
  position: relative;
}
/* line 35, ../scss/custom.scss */
.header .header-wrapper #inner-header .logo {
  display: block;
  margin: 20px auto 0;
}
/* line 39, ../scss/custom.scss */
.header .header-wrapper #inner-header .logo img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 46, ../scss/custom.scss */
.header .header-wrapper #inner-header .user-name {
  position: absolute;
  top: 10px;
  right: 0;
}
/* line 51, ../scss/custom.scss */
.header .header-wrapper #inner-header .user-name ul {
  margin: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  color: #fff;
}
/* line 60, ../scss/custom.scss */
.header .header-wrapper #inner-header .user-name ul li:last-child {
  margin-left: 6px;
  opacity: 0.5;
}
/* line 64, ../scss/custom.scss */
.header .header-wrapper #inner-header .user-name ul li:last-child a {
  color: #fff;
  text-decoration: none;
}
/* line 69, ../scss/custom.scss */
.header .header-wrapper #inner-header .user-name ul li:last-child:before {
  content: '';
  width: 14px;
  height: 14px;
  background: url("../images/logout-picto.png");
  background-size: cover;
  float: left;
  margin-top: 6px;
  margin-right: 3px;
}
/* line 80, ../scss/custom.scss */
.header .header-wrapper #inner-header .user-name ul li:last-child:hover {
  opacity: 1;
}
/* line 89, ../scss/custom.scss */
.header nav {
  position: relative;
  background: url("../images/nav-background.jpg");
  color: #fff;
}
/* line 94, ../scss/custom.scss */
.header nav ul {
  margin: 0 auto;
}
/* line 98, ../scss/custom.scss */
.header nav ul li a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 68px;
  padding: 0;
  float: left;
  text-transform: uppercase;
}
/* line 107, ../scss/custom.scss */
.header nav ul li a:hover {
  text-decoration: none;
}
/* line 113, ../scss/custom.scss */
.header nav ul li:first-child a {
  text-indent: -9000px;
  width: 25px;
  height: 18px;
  background: url("../images/picto-home.png");
  margin-top: 23px;
}
/* line 121, ../scss/custom.scss */
.header nav ul li:first-child:hover, .header nav ul li:first-child.current-menu-item {
  background: none;
}
/* line 126, ../scss/custom.scss */
.header nav ul li:after {
  content: '';
  display: block;
  float: left;
  width: 4px;
  height: 4px;
  background-color: #fff;
  margin: 32px 16px;
}
/* line 136, ../scss/custom.scss */
.header nav ul li:last-child:after {
  display: none;
}
/* line 140, ../scss/custom.scss */
.header nav ul li:hover, .header nav ul li.current-menu-item {
  background: url("../images/background-menu-border.png");
  background-position-x: center;
  background-position-y: 20px;
  background-repeat: no-repeat;
}
/* line 150, ../scss/custom.scss */
.header .burger {
  display: none;
  position: absolute;
  top: 24px;
  left: 78px;
  float: left;
  width: 26px;
  height: 17px;
  background: url("../images/burger.png");
}
/* line 161, ../scss/custom.scss */
.header .group-logo {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 54px;
  background-image: url("../images/login-bottom.png");
  background-position-y: right;
}
/* line 172, ../scss/custom.scss */
.header .border-bottom {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #000;
  opacity: 0.1;
}

/***************************
****************************
CONTENT
****************************
***************************/
/* line 191, ../scss/custom.scss */
#main {
  padding-bottom: 150px;
}

/* line 195, ../scss/custom.scss */
#content {
  margin-top: 50px;
  /***************************
  PARTICIPANT
  ***************************/
}
/* line 198, ../scss/custom.scss */
#content .home-intro {
  font-size: 22px;
  color: #464646;
  line-height: 1.4em;
  margin-bottom: 40px;
}
/* line 205, ../scss/custom.scss */
#content article.hentry {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  border: none;
  margin-bottom: 40px;
}
/* line 214, ../scss/custom.scss */
#content article.hentry .content-wrapper {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 223, ../scss/custom.scss */
#content article.hentry .attachment-article-thumbnail {
  margin-right: 10px;
}
/* line 227, ../scss/custom.scss */
#content article.hentry .article-header {
  padding: 0;
  border: 0;
}
/* line 231, ../scss/custom.scss */
#content article.hentry .article-header .date {
  margin: 0;
  color: #b2b2b2;
  font-size: 16px;
  line-height: 0.50em;
}
/* line 238, ../scss/custom.scss */
#content article.hentry .article-header h1 {
  margin-top: 5px;
  font-size: 18px;
  color: #9d062b;
}
/* line 243, ../scss/custom.scss */
#content article.hentry .article-header h1 a {
  color: #9d062b;
}
/* line 249, ../scss/custom.scss */
#content article.hentry .entry-content {
  margin-top: 3px;
  padding: 0;
}
/* line 253, ../scss/custom.scss */
#content article.hentry .entry-content p {
  font-size: 16px;
  color: #464646;
  line-height: 1.3em;
}
/* line 259, ../scss/custom.scss */
#content article.hentry .entry-content .read-more {
  padding-top: 5px;
  display: block;
  color: #00a3c0;
  text-decoration: none;
  width: 91px;
  line-height: 1.1em;
  box-sizing: border-box;
}
/* line 268, ../scss/custom.scss */
#content article.hentry .entry-content .read-more:before {
  content: '+';
  display: block;
  width: 12px;
  height: 12px;
  float: left;
}
/* line 276, ../scss/custom.scss */
#content article.hentry .entry-content .read-more:hover {
  text-decoration: underline;
}
/* line 283, ../scss/custom.scss */
#content .pagination li {
  border: none;
}
/* line 287, ../scss/custom.scss */
#content .back-button {
  color: #3eb0c5;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 294, ../scss/custom.scss */
#content .back-button:after {
  content: "";
  width: 19px;
  height: 15px;
  display: block;
  background: url("../images/arrow-left.png");
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
/* line 305, ../scss/custom.scss */
#content .back-button:hover {
  text-decoration: underline;
}
/* line 314, ../scss/custom.scss */
#content article.participant {
  display: block;
}
/* line 319, ../scss/custom.scss */
#content article.participant .article-header .content-wrapper {
  float: left;
  border-top: 5px solid #911231;
  border-image: url("../images/red-background.jpg") 15% round;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  width: calc(70% - 10px);
}
/* line 329, ../scss/custom.scss */
#content article.participant .article-header h1 {
  padding-top: 10px;
  margin-top: -5px;
  font-size: 19px;
}
/* line 334, ../scss/custom.scss */
#content article.participant .article-header h1::first-letter {
  text-transform: uppercase;
}
/* line 338, ../scss/custom.scss */
#content article.participant .article-header h1 .lastname {
  display: inline-block;
}
/* line 341, ../scss/custom.scss */
#content article.participant .article-header h1 .lastname::first-letter {
  text-transform: uppercase;
}
/* line 347, ../scss/custom.scss */
#content article.participant .article-header h2 {
  font-size: 19px;
  color: #bababa;
  margin: 0;
  font-weight: 600;
}
/* line 354, ../scss/custom.scss */
#content article.participant .article-header h3 {
  font-size: 19px;
  color: #484848;
  margin: 0;
  font-weight: 600;
}
/* line 362, ../scss/custom.scss */
#content article.participant img {
  float: left;
  width: 30%;
  height: auto;
  margin-right: 10px;
}
/* line 370, ../scss/custom.scss */
#content .filters {
  margin-bottom: 20px;
}
/* line 373, ../scss/custom.scss */
#content .filters .filter_by {
  color: #524f4f;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  line-height: 28px;
  margin-right: 15px;
}
/* line 382, ../scss/custom.scss */
#content .filters select {
  display: inline-block;
  border: 1px solid #acacac;
  background: #fff url("../images/arrow-dropdown-grey.jpg");
  background-repeat: no-repeat;
  background-position: 97.5% center;
  height: 28px;
  background-size: auto 100%;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 393, ../scss/custom.scss */
#content .filters select option {
  height: auto;
  color: #6d6d6d;
  line-height: 1.0em;
  margin-bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0px;
  font-size: 10px;
}
/* line 405, ../scss/custom.scss */
#content .filters select.letter-select {
  width: 120px;
}
/* line 409, ../scss/custom.scss */
#content .filters select.area-select {
  width: 220px;
}
/* line 415, ../scss/custom.scss */
#content .questions {
  margin-top: 30px;
}
/* line 419, ../scss/custom.scss */
#content .questions li p {
  font-size: 16px;
}
/* line 421, ../scss/custom.scss */
#content .questions li p.question {
  font-weight: 600;
  color: #00a3c0;
  margin-bottom: 3px;
}
/* line 426, ../scss/custom.scss */
#content .questions li p.question:before {
  content: 'Q. ';
}
/* line 431, ../scss/custom.scss */
#content .questions li p.answer {
  color: #5a5a5a;
}
/* line 434, ../scss/custom.scss */
#content .questions li p.answer:before {
  content: 'A. ';
}

/****************************
SINGLE POST
****************************/
/* line 448, ../scss/custom.scss */
.single-post article.hentry {
  display: block !important;
}
/* line 452, ../scss/custom.scss */
.single-post article.hentry .article-header h1 {
  font-size: 27px !important;
  text-transform: uppercase !important;
  color: #00a3c0 !important;
  margin: 5px 0 10px 0;
}
/* line 459, ../scss/custom.scss */
.single-post article.hentry .article-header img {
  width: 100%;
  height: auto;
}
/* line 465, ../scss/custom.scss */
.single-post article.hentry .entry-content p {
  font-size: 18px !important;
  color: #464646 !important;
  line-height: 1.6em !important;
}
/* line 470, ../scss/custom.scss */
.single-post article.hentry .entry-content p a {
  color: #00a3c0;
  text-decoration: none;
}
/* line 474, ../scss/custom.scss */
.single-post article.hentry .entry-content p a:hover {
  text-decoration: underline;
}

/* line 481, ../scss/custom.scss */
.comment-respond {
  padding: 0 0 20px 0;
  border-bottom: 5px solid #911231;
  border-image: url("../images/red-background.jpg") 15% round;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

/* line 490, ../scss/custom.scss */
#comments-title {
  font-family: "TitilliumWeb-WebBold", sans-serif;
  color: #9d062b;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 5px solid #911231;
  font-weight: 600;
  margin: 0;
  padding: 30px 0 0;
}
/* line 501, ../scss/custom.scss */
#comments-title:before {
  content: '';
  width: 41px;
  height: 41px;
  display: block;
  background: url("../images/comments-picto.jpg");
  float: left;
  margin-right: 10px;
  margin-top: -6px;
}

/* line 513, ../scss/custom.scss */
.form-allowed-tags {
  display: none;
}

/* line 517, ../scss/custom.scss */
.comment {
  padding: 0;
  border-bottom: none;
}
/* line 521, ../scss/custom.scss */
.comment.even {
  background: none;
}
/* line 525, ../scss/custom.scss */
.comment .comment-author {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}
/* line 530, ../scss/custom.scss */
.comment .comment-author p {
  margin-bottom: 0;
}
/* line 534, ../scss/custom.scss */
.comment .comment-author .author-name {
  font-size: 16px;
  color: #9d062b;
  font-weight: 600;
}
/* line 540, ../scss/custom.scss */
.comment .comment-author .date {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 600;
}
/* line 546, ../scss/custom.scss */
.comment .comment-author .comment-edit-link {
  font-style: inherit;
  color: #b2b2b2;
  font-size: 16px;
}
/* line 554, ../scss/custom.scss */
.comment .comment_content p {
  font-size: 16px;
  color: #464646;
  line-height: 1.6em;
  margin-bottom: 10px;
}
/* line 562, ../scss/custom.scss */
.comment .comment-reply-link {
  background-color: #fff;
  color: #911231;
  border: 1px solid #911231;
  text-transform: uppercase;
  line-height: 26px;
  padding: 0 13px;
  font-weight: 600;
  font-size: 13px;
}

/* line 574, ../scss/custom.scss */
.comment-form #submit {
  float: none !important;
  background-color: #fff;
  color: #911231;
  border: 1px solid #911231;
  text-transform: uppercase;
  line-height: 26px;
  padding: 0 13px;
  font-weight: 600;
  font-size: 13px;
}

/* line 586, ../scss/custom.scss */
.comment-reply-title {
  display: none;
}

/* line 590, ../scss/custom.scss */
.logged-in-as {
  display: none;
}

/* line 595, ../scss/custom.scss */
.comment-form-comment label {
  color: #464646;
  padding-bottom: 7px;
}
/* line 600, ../scss/custom.scss */
.comment-form-comment textarea {
  margin-top: 5px;
}

/***************************
****************************
SIDEBAR
****************************
***************************/
/* line 612, ../scss/custom.scss */
.sidebar {
  margin-top: 0;
  padding: 0 20px !important;
  border-left: 5px solid #f8f8f8;
  margin-bottom: 200px;
}
/* line 618, ../scss/custom.scss */
.sidebar .utcw-tag {
  font-weight: 600;
  color: #3eb0c5;
  text-decoration: none;
}
/* line 623, ../scss/custom.scss */
.sidebar .utcw-tag:hover {
  color: #a41f46;
}
/* line 628, ../scss/custom.scss */
.sidebar .widget {
  margin: 20px 0;
  padding: 0;
}
/* line 632, ../scss/custom.scss */
.sidebar .widget .widgettitle {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  border-bottom: 0;
}
/* line 640, ../scss/custom.scss */
.sidebar .widget .widgettitle .true-title {
  margin: 0;
  height: 12px;
  font-size: 18px;
  color: #00a0b1;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 5px;
  line-height: 0.7em;
}
/* line 651, ../scss/custom.scss */
.sidebar .widget .widgettitle .border-right {
  width: 100%;
  height: 12px;
  background: url("../images/nav-background.jpg");
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  line-height: 0.7em;
}
/* line 667, ../scss/custom.scss */
.sidebar .widget.widget_text .textwidget {
  border: 1px solid #00a0b1;
  border-radius: 5px;
  padding: 10px 13px;
  box-sizing: border-box;
  color: #00a3c0;
  font-size: 13px;
}
/* line 675, ../scss/custom.scss */
.sidebar .widget.widget_text .textwidget h4 {
  font-size: 16px;
  margin-top: 25px;
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 681, ../scss/custom.scss */
.sidebar .widget.widget_text .textwidget h4:first-of-type {
  margin-top: 5px;
}
/* line 686, ../scss/custom.scss */
.sidebar .widget.widget_text .textwidget a {
  display: block;
  color: #00a0b1;
  text-decoration: none;
  font-weight: bold;
  margin-top: 4px;
}
/* line 693, ../scss/custom.scss */
.sidebar .widget.widget_text .textwidget a:hover {
  color: #9d062b;
}
/* line 697, ../scss/custom.scss */
.sidebar .widget.widget_text .textwidget a:before {
  content: '> ';
}
/* line 705, ../scss/custom.scss */
.sidebar .widget.widget-meteo .container, .sidebar .widget.widget-contacts .container, .sidebar .widget.widget-yammer .container {
  border: 1px solid #00a0b1;
  border-radius: 5px;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #00a3c0;
  font-size: 13px;
}
/* line 713, ../scss/custom.scss */
.sidebar .widget.widget-meteo .container .temp, .sidebar .widget.widget-contacts .container .temp, .sidebar .widget.widget-yammer .container .temp {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  /* Safari 6.1+ */
}
/* line 722, ../scss/custom.scss */
.sidebar .widget.widget-meteo .container .temp div, .sidebar .widget.widget-contacts .container .temp div, .sidebar .widget.widget-yammer .container .temp div {
  font-size: 68px;
  font-weight: 600;
  line-height: 0em;
  letter-spacing: -4px;
  padding-top: 30px;
  margin-bottom: -50px;
}
/* line 730, ../scss/custom.scss */
.sidebar .widget.widget-meteo .container .temp div sup, .sidebar .widget.widget-contacts .container .temp div sup, .sidebar .widget.widget-yammer .container .temp div sup {
  font-size: 40px;
}
/* line 735, ../scss/custom.scss */
.sidebar .widget.widget-meteo .container .temp img, .sidebar .widget.widget-contacts .container .temp img, .sidebar .widget.widget-yammer .container .temp img {
  width: 66px;
  height: 64px;
}
/* line 743, ../scss/custom.scss */
.sidebar .widget.widget-yammer {
  font-size: 14px;
}
/* line 746, ../scss/custom.scss */
.sidebar .widget.widget-yammer img {
  float: left;
  margin-right: 5px;
  margin-bottom: 3px;
}
/* line 752, ../scss/custom.scss */
.sidebar .widget.widget-yammer a {
  display: block;
  color: #00a0b1;
  text-decoration: none;
  font-weight: bold;
  margin-top: 4px;
}
/* line 759, ../scss/custom.scss */
.sidebar .widget.widget-yammer a:hover {
  color: #9d062b;
}
/* line 763, ../scss/custom.scss */
.sidebar .widget.widget-yammer a:before {
  content: '> ';
}
/* line 770, ../scss/custom.scss */
.sidebar .widget.widget-contacts ul {
  margin-bottom: 30px;
}
/* line 772, ../scss/custom.scss */
.sidebar .widget.widget-contacts ul li {
  line-height: 0.6em;
  font-size: 16px;
  font-weight: 600;
}
/* line 777, ../scss/custom.scss */
.sidebar .widget.widget-contacts ul li a {
  color: #00a3c0;
  text-decoration: none;
}
/* line 781, ../scss/custom.scss */
.sidebar .widget.widget-contacts ul li a:hover {
  color: #911231;
}
/* line 787, ../scss/custom.scss */
.sidebar .widget.widget-contacts ul:last-child {
  margin-bottom: 0;
}
/* line 793, ../scss/custom.scss */
.sidebar .widget:first-of-type {
  margin-top: 0;
}
/* line 798, ../scss/custom.scss */
.sidebar .whoiswho {
  width: 100%;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  background: url("../images/nav-background.jpg");
  padding: 25px 10px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
/* line 813, ../scss/custom.scss */
.sidebar .whoiswho:hover {
  background: url("../images/red-background.jpg");
  color: #fff;
}
/* line 820, ../scss/custom.scss */
.sidebar .widget-ateliers .title-wrapper {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 827, ../scss/custom.scss */
.sidebar .widget-ateliers .title-wrapper .widget-title {
  margin: 0;
  height: 12px;
  font-size: 18px;
  color: #00a0b1;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 5px;
  line-height: 0.7em;
}
/* line 838, ../scss/custom.scss */
.sidebar .widget-ateliers .title-wrapper .border {
  height: 12px;
  background: url("../images/nav-background.jpg");
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  line-height: 0.7em;
}
/* line 852, ../scss/custom.scss */
.sidebar .widget-ateliers form {
  margin-top: 10px;
  border: 1px solid #00a0b1;
  border-radius: 5px;
  padding: 10px 10px;
  box-sizing: border-box;
}
/* line 859, ../scss/custom.scss */
.sidebar .widget-ateliers form p:first-of-type {
  margin: 0;
  font-size: 14px;
  color: #00a0b1;
  margin-bottom: 10px;
}
/* line 866, ../scss/custom.scss */
.sidebar .widget-ateliers form select {
  background: #fff;
  color: #00a0b1;
  font-size: 16px;
  border: 1px solid #00a0b1;
  border-radius: 5px;
  background-image: url("../images/arrow-dropdown.jpg");
  background-repeat: no-repeat;
  background-position: 97.5% center;
  height: 32px;
  background-size: auto 100%;
  width: 100%;
  padding-right: 52px;
  text-overflow: ellipsis;
}
/* line 881, ../scss/custom.scss */
.sidebar .widget-ateliers form select.active {
  color: #00B243;
  font-weight: 600;
}
/* line 887, ../scss/custom.scss */
.sidebar .widget-ateliers form input[type="submit"] {
  background: #fff;
  width: 100%;
  color: #00a0b1;
  border: 1px solid #00a0b1;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 897, ../scss/custom.scss */
.sidebar .widget-ateliers form input[type="submit"]:hover {
  color: #9d062d;
  border-color: #9d062d;
}

@media only screen and (max-width: 1030px) {
  /* line 908, ../scss/custom.scss */
  .header nav {
    height: 63px;
    overflow: hidden;
  }
  /* line 912, ../scss/custom.scss */
  .header nav .menu-wrapper {
    position: relative;
  }
  /* line 916, ../scss/custom.scss */
  .header nav ul {
    position: relative;
    padding-bottom: 50px;
  }
  /* line 920, ../scss/custom.scss */
  .header nav ul li {
    display: block;
    float: none;
  }
  /* line 924, ../scss/custom.scss */
  .header nav ul li a {
    float: none;
    font-size: 16px;
    line-height: 34px;
  }
  /* line 930, ../scss/custom.scss */
  .header nav ul li:first-child:before {
    display: none;
  }
  /* line 934, ../scss/custom.scss */
  .header nav ul li:nth-child(2) {
    margin-top: 15px;
  }
  /* line 938, ../scss/custom.scss */
  .header nav ul li:before {
    content: '';
    display: block;
    float: left;
    width: 4px;
    height: 4px;
    background-color: #fff;
    margin: 16px 10px 0 0;
  }
  /* line 948, ../scss/custom.scss */
  .header nav ul li:after {
    display: none;
    margin: 15px 10px 0 0;
  }
  /* line 953, ../scss/custom.scss */
  .header nav ul li:hover {
    background: none;
  }
  /* line 959, ../scss/custom.scss */
  .header .burger {
    z-index: 2;
    display: block;
  }

  /* line 970, ../scss/custom.scss */
  .sidebar .widget-ateliers form select {
    height: 25px;
    margin: 10px auto;
    width: 100% !important;
    max-width: 100%;
  }

  /* line 980, ../scss/custom.scss */
  article .content-wrapper {
    width: 100% !important;
  }

  /* line 985, ../scss/custom.scss */
  #content article.hentry {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  /* line 989, ../scss/custom.scss */
  #content article.hentry .attachment-article-thumbnail {
    margin-bottom: 20px;
  }
  /* line 995, ../scss/custom.scss */
  #content article.participant .article-header {
    display: block;
  }
  /* line 998, ../scss/custom.scss */
  #content article.participant .article-header .content-wrapper {
    border: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1008, ../scss/custom.scss */
  .header .header-wrapper {
    height: 275px;
  }
  /* line 1012, ../scss/custom.scss */
  .header .header-wrapper #inner-header .logo {
    margin-top: 70px;
  }
  /* line 1016, ../scss/custom.scss */
  .header .header-wrapper #inner-header .user-name {
    right: 15px;
  }

  /* line 1023, ../scss/custom.scss */
  .sidebar {
    padding: 0 !important;
    border-left: none;
  }
  /* line 1027, ../scss/custom.scss */
  .sidebar .widget.widget-contacts ul li {
    line-height: 1.6em;
  }
}
